@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    @foreach(MarCommEvents.Models.EventModel e in Model)
    {
        <div>@e.Title</div>

    }

    <div class="col-md-4">
        asdf
    </div>
    <div class="col-md-4">
        asdf
    </div>
    <div class="col-md-4">
        asdf
    </div>
</div>